.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: blue;
}

.container {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
}
.container .calendar {
  float: left;
  width: 70%;
  display: block;
}
.container .calendarDetail {
  flex-direction: row;
  position: relative;
  margin-top: 85px;
  float: left;
  width: 25%;
  border: 0.2px solid black;
  display: block;
}
.container .calendarDetail .table {
  border-bottom: 0.1px solid black;
  display: block;
}
#button1 {
  width: 100%;
}
.container .calendarDetail .special {
  width: 100%;
  position: absolute;

  bottom: 0px;
  border-top: 0.1px solid black;
  display: block;
}
